g.button rect{
	fill:paleturquoise;
	stroke:black;
	stroke-width:1px;
	}

g.button text{
	text-anchor:middle;
	}

g.smalltext text{
	font-size:12px;
	}

rect{
	fill:darksalmon;
	stroke:black;
	}

#txt{
	font-size:30px;
	}
