:root {
  --maincolor: #9acd32;
  --bordercl: #4169e1;
  --hovercolor: unset;
}

a {
  font-weight: bold;
  color:#4169e1;
}

a:hover {
  color: #ff1493;
}

ul {
  font-family: 'Fira Sans', sans-serif;
}

ul > li:before {
  content: '- ';
}

.soc:hover {
  color: #ff1493;
}

img[src$='#center'] {
  display: block;
  margin: 1.0rem auto;
  max-width: 100%;
  height: auto;
}

li {
  text-indent: 0 !important;
}
